@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  /* flex-direction: column; */
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  display: none;
}

.element {
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 452px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.logo-img {
  margin: 0;
  padding: 0;
  width: 140px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;
}

.navigation-link {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-image: url("../images/background/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.about-list {
  text-align: center;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  margin: 0;
  padding: 69px 290px 25px;
}

.about-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 652px;
  margin: 0;
  padding: 0 275px 90px;
}

.ul-advantages {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 1200px; */
  margin: 0 auto;
  padding: 0;
}

.advantages-item-real-town {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.advantages-item {
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-item-bridge {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.real-town {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.bridge {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* .advantages-image-town {
  display: block;
} */

.advantages-title-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 175px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 92px 113px 62px;
}

.advantages-title-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 175px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 103px 113px 62px;
}

.advantages-title-hostels {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 175px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 85px 30px;
}

.hostels-img {
  padding: 80px 163px 30px;
}

.food-img {
  padding: 81px 162px 31px;
}

.presents-img {
  padding: 78px 168px 28px;
}

.advantages-title-food {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 175px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 113px 30px;
}

.advantages-title-presents {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 175px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 85px 30px;
}

.advantages-description-1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 85px 111px;
}

.advantages-description-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 85px 121px;
}

.advantages-description-3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 85px 81px;
}

.blue-background {
  color: #FFFFFF;
  background: #82B3D3;
}

.white-background {
  background-color: #FFFFFF;
}

.beautiful-road {
  background: rgba(131, 179, 211, 0.2);
}

.light-background {
  background: rgba(131, 179, 211, 0.12);
}

.ask {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.ask-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 96px 452px 20px;
  text-transform: uppercase;
}

.ask-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  text-transform: none;
  padding: 0 304px 54px;
  margin: 0;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  max-width: 376px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 412px 96px;
  padding: 8px 50px;
  border-radius: 4px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  justify-content: center;
  background-image: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 96px 398px 20px;
  margin: 0;
}

.newsletter-text {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* text-transform: none; */
  text-align: center;
  padding: 0 363px 0;
  margin: 0;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

.field {
  padding: 12px 20px;
  margin: 54px 0 104px 258px;
  width: 452px;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.newsletter-button {
  background: #82B3D3;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 54px 258px 104px 0;
  padding: 10px 50px;
  width: 232px;
  border-radius: 0 4px 4px 0;
}


.button-social {
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 0;
  max-width: 1060px;
  background-color: #FFFFFF;
}

.page-footer-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 331px;
  padding: 0;
  margin: 45px 210px 35px 343px;
}

.logo-academy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 49px 70px 39px 0;
  margin: 0;
}
